.publiSet h1 {
  font-size: 22PT;
}

.publi h1 {
  font-size: 20pt
}

.publi ul.authors-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0
}
.publi .abstract > figure.picture{
  width: 60%;
  padding: 0px;
  margin: 10px;
  float: right;
}

.publi ul.authors-list li.author-item{
  display: inline;
  cursor: default
}

.publi ul.authors-list li.author-item:after
{
  content: ", "
}

.publi ul.authors-list li.author-item:nth-last-child(2):after
{
  content: " and "
}

.publi ul.authors-list li.author-item:last-child:after
{
  content: ""
}

.publi .issue::before{
  content: "(" 
}

.publi .issue::after{
  content: ")"
}

.orcid-id img {
  vertical-align: middle;
  float: left;
  margin-right: 4px;
}

.orcid-id a {
  vertical-align: middle;
  display: inline;
}
.author-info {
  font-size: 14px;
  cursor: initial
}
.author-info h1 {
  font-size: larger
}
.author-info ul.affiliation-list{
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0
}