table.datatable > tbody > tr > td {
  white-space: nowrap;
}
td.NumberCell {
  text-align: center;
}
thead.sticky > tr > th {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  margin: 0 auto;
  z-index: 10;
  background-color: white;
}