@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), /*For macOS and iOS*/
       local("Segoe UI Emoji"),    /*For Windows 8.1 and greater*/
       local("Segoe UI Symbol"),   /*For Windows 7*/
       local("Noto Color Emoji");  /*For Android and Linux with Noto Color Emoji font installed*/
}
.emoji {
  font-family: color-emoji;
  font-weight: normal;
}