form fieldset.table {
  display: table;
}
ul.nestedCbList {
  list-style-type: none;
  padding-left: 1em;
}
form label{
  padding-left: 5px;
  padding-right: 5px;
}
form fieldset.table div {
  display: table-row;
}

form fieldset.table input, form fieldset.table select, form fieldset.table label {
  display: table-cell;
  margin: 3px;
}

form fieldset.table label {
  text-align: right;
  vertical-align:middle;
}