form fieldset.table {
  display: table;
}
form {
  margin-bottom: 15px;
}
ul.nestedCbList {
  list-style-type: none;
  padding-left: 1em;
}
form button.selectButton {
  display: block;
}
form fieldset.main {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}
form input[type="submit"] {
  margin-top:10px;
}
form label{
  padding-left: 5px;
  padding-right: 5px;
}
form legend.required::after,form label.required::after {
  content: " *";
  color: red;
}
form fieldset.table div {
  display: table-row;
}

form fieldset.table input, form fieldset.table select, form fieldset.table label {
  display: table-cell;
  margin: 3px;
}

form fieldset.table label {
  text-align: right;
  vertical-align:middle;
}