.paper h1 {
  font-size: 20pt
}

ul.papers-list{
  list-style: none
}

.paper ul.authors-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0
}

.paper ul.authors-list li.author-item{
  display: inline;
  cursor: default
}

.paper ul.authors-list li.author-item:after
{
  content: ", "
}

.paper ul.authors-list li.author-item:nth-last-child(2):after
{
  content: " and "
}

.paper ul.authors-list li.author-item:last-child:after
{
  content: ""
}

.paper .issue::before{
  content: "(" 
}

.paper .issue::after{
  content: ")"
}

.orcid-id img {
  vertical-align: middle;
  float: left;
  margin-right: 4px;
}

.orcid-id a {
  vertical-align: middle;
  display: inline;
}
.author-info {
  font-size: 14px;
  cursor: initial
}
.author-info h1 {
  font-size: larger
}
.author-info ul.affiliation-list{
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0
}