{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="well">
        {{ with .Content }}
            {{.}}
        {{ end }}
        {{ range .Pages }}
          <details>
            <summary>
              <h2>{{ .Title }}</h2>
            </summary>
            <p>
              {{ .Content }}
            </p>
          </details>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
